.banner{
    color: #fff;
    object-fit: contain;
    height: 28rem;
    margin-bottom: 1.2rem;
  }

  .bannerContents{
    margin-left: 2rem;
    padding-top: 9rem;
    height: 12rem;
  }
  .bannerTitle{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }

  .bannerDescription{
    max-width: 40rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 20rem;
    max-height: 80px;
  }

.bannerButtons{
  display: flex;
}

  .bannerFadeBottom{
    height: 7.4em;
    background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.61),#111);
  }

@media only screen and (max-width: 430px) {
  .bannerTitle {
    font-size: 1.6rem;
  }
}