  .button {
    cursor: pointer;
    color: #fff;
    text-align: center;
    outline: none;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0, .2);


  &:hover {
      color: #000;
      background: #fff;
      transition: all 0.2s;
    }
  }

