.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;


  &.enter-done {
      opacity: 1;
      pointer-events: visible;

     & .modal__content {
          transform: translateY(0);
        }

    }

  &.exit {
    opacity: 0;

    & .modal__content {
        transform: translateY(-200px);
      }
  }

    &__content {
      max-width: 32rem;
      padding: 1rem;
      border: 1.5px solid #fff;
      color: #fff;
      border-radius: 10px;
      background-color: #000;
      transition: all 0.3s ease-in-out;
      transform: translateY(-200px);
      text-align: center;

      &__image {
          object-fit: contain;
        }

        &__title {
          color: #fff;
          text-align: center;
          padding-top: 1rem;
          font-size: 1.2rem;
        }

        &__rating {
          font-size: 1.2rem;
          text-align: center;
          padding: .5rem 0;
        }

        &__button {
          margin: 1rem;
          text-align: center;
        }
    }


}


@media only screen and (max-width: 430px) {
  .modal__content {
      max-width: 18rem;
      padding: 1rem;

    &__image {
        object-fit: contain;
        max-width: 17rem;
    }

    &__body {
        font-size: .8rem;
    }
  }
}